.login-form {
    max-width: 360px;
    margin: 60px auto;
    padding: 20px;
}

.login-form label {
    display: block;
    margin: 30px auto;
}

span.login-form {
    display: block;
    margin-bottom: 6px;
}

.login-form input {
    padding: 8px 6px;
    font-size: 1em;
    color: #888;
    width: 100%;
}